
<div class="card"  >
    <small class="card-body">
        <small class="form-group" style="font-size: 10px;">
            <select  #Anio class="form-control" id="ListaAnio" [ngModel]="AmbientePeriodo.Anio"  (ngModelChange)="onCambioAnio(Anio.value)"  >
                <option *ngFor=" let periodo of ListaAnio" [value]="periodo.Anio">{{periodo.Anio}}</option>
            </select>
        </small>        

        <small class="form-group" style="font-size: 10px;">
            <select #Mes  class="form-control" id="ListaMes" [ngModel]="AmbientePeriodo.Mes" (ngModelChange)="onCambioMes(Mes.value)"  >
                <option *ngFor=" let periodo of ListaPeriodos" [value]="periodo.Descripcion">{{periodo.Descripcion}}</option>
            </select>
        </small>
    </small>
    <small class="card-footer">
        {{Titulo}}
    </small> 
    <button (click)="mostrar()">Mostrar </button>
</div>


