<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">

  <app-cabecera (onConmutaLateral)="conmutar($event)" [menuParts]="menuParts"></app-cabecera>
  <app-lateral [menuFullDisplay]="mostrar"></app-lateral> 

  <!-- ============================================================== -->
  <!-- Page wrapper  -->
  <!-- ============================================================== -->
  <div class="page-wrapper">

      <!-- ============================================================== -->
      <!-- Container fluid  -->
      <!-- ============================================================== -->
      <div class="container-fluid">

          <!-- <app-breadcrumbs></app-breadcrumbs> -->

          <!-- ============================================================== -->
          <!-- Start Page Content -->
          <!-- ============================================================== -->

          <router-outlet></router-outlet>
          
          <!-- <div class="row">
            <div class="col-12">
                <div class="card-group">
                    <app-periodo class="col-sm-2 col-sm-2 mb-2 text-sm-center"  
                     *ngFor="let ctrl of ListaControles"
                    ></app-periodo>     
                </div>
            </div>
          </div> 
          <button (click)="crearControl()">Crear Control</button> -->

            <!-- TABS DINAMICO  *ngIf="proceso['factura']"   *ngIf="proceso['sri']"  -->
         
            <app-tabs>
            </app-tabs>
            

            <!-- PLANTILLA FACTURA -->
            <ng-template let-idTab="idTab" let-proceso="proceso"  #plantillaUno>
               
                <!-- <app-transaccion-cabecera  [estadoComponente]="proceso['trsc']" [idTab]="idTab" ></app-transaccion-cabecera> -->
                <app-factura  [estadoComponente]="proceso['factura']" [idTab]="idTab" ></app-factura>
                <app-sri [estadoComponente]="proceso['sri']" [idTab]="idTab" ></app-sri> 
                 
            </ng-template>


            <ng-template #plantillaDos let-mensaje="mensaje">
                <h2>Dos</h2>
                <!-- <app-periodo class="col-sm-2 col-sm-2 mb-2 text-sm-center"
                   [Id]="IdAmbiente" [Titulo]="Titulo">

                </app-periodo>  -->
            </ng-template>

            <button class="btn-primary" (click)="crearTab(1,'TR')">proceso TIPO TR</button>
            <button class="btn-warning" (click)="crearTab(2,'RE')">proceso TIPO RE</button>

            <!-- <app-modal [catalogo]="'compania'" [titulo]="'catalogo de..'">
            </app-modal> -->


          <!-- <button class="btn-primary" (click)="crearControl()">Crear Control</button>
          <button (click)="recuperaPeriodo('AmbientePeriodoContable')"> Contable</button>  
          <button (click)="recuperaPeriodo('AmbientePeriodoNomina')">Nomina</button>  
         
          <button (click)="recuperaUbicacion('AmbienteUbicacion')">Ubicacion</button>
          <button (click)="recuperaUbicacion('AmbienteUbicacionDos')">Ubicacion DOS</button> -->

          <!-- ============================================================== -->
          <!-- End Page Content -->
          <!-- ============================================================== -->

      </div>
      <!-- ============================================================== -->
      <!-- Container fluid  -->
      <!-- ============================================================== -->


  </div>
  

  <!-- ============================================================== -->
  <!-- END Page wrapper  -->
  <!-- ============================================================== -->

</div>
