
<div class="card card-info">
    <h4 class="card-header" >
        Factura Componente
    </h4>
    <div class="card-body">
        <p class="card-text">controles en estado {{ estadoComponente.estado }}</p>
    </div>
    <div class="card-footer">

            <button type="button" (click)="onClick('error')" class="btn btn-primary btn-circle w-100p mb-1 mr-1">
                    <span>E</span>
                </button>
        
                <button type="button" (click)="onClick('valido')" class="btn btn-primary btn-circle w-100p mb-1 mr-1">
                        <span>V</span>
                </button>

    </div>
</div>

