<!-- <div class="card-body text-center pt-0 widget-body">
    <btn-graba-transaccion ></btn-graba-transaccion>
    <btn-cancela-transaccion ></btn-cancela-transaccion>
</div>     -->

<div class="card-body text-center pt-0 widget-body">

    <button type="button" (click)="onClickBoton('especial05')" class="btn btn-primary btn-circle w-100p mb-1 mr-1" [hidden]="disabledPersonalizado05">
        <span class="icon-especial05"></span>
        <!--especial05-->
    </button>
    <button type="button" (click)="onClickBoton('especial04')" class="btn btn-primary btn-circle w-100p mb-1 mr-1" [hidden]="disabledPersonalizado04">
        <span class="icon-especial04"></span>
        <!--especial04-->
    </button>
    <button type="button" (click)="onClickBoton('especial03')" class="btn btn-primary btn-circle w-100p mb-1 mr-1" [hidden]="disabledPersonalizado03">
        <span class="icon-especial03"></span>
        <!--especial03-->
    </button>
    <button type="button" (click)="onClickBoton('especial02')" class="btn btn-primary btn-circle w-100p mb-1 mr-1" [hidden]="disabledPersonalizado02">
        <span class="icon-especial02"></span>
        <!--especial02-->
    </button>
    <button type="button" (click)="onClickBoton('especial01')" class="btn btn-primary btn-circle w-100p mb-1 mr-1" [hidden]="disabledPersonalizado01">
        <span class="icon-especial01"></span>
        <!--especial01-->
    </button>
    &nbsp;
    <button type="button" (click)="onClickBoton('reporte')" class="btn btn-primary btn-circle w-100p mb-1 mr-1" [hidden]="disabledGenerarReporte">
        <span class="icon-reporte"></span>
        <!--Generar Reporte-->
    </button>

    <button type="button" (click)="onClickBoton('imprimir')" class="btn btn-primary btn-circle w-100p mb-1 mr-1" [hidden]="disabledImprimir">
        <span class="icon-imprimir"></span>
        <!--Imprimir-->
    </button>
    &nbsp;
    <button type="button" (click)="onClickBoton('tracking')" class="btn btn-primary btn-circle w-100p mb-1 mr-1" [hidden]="disabledTracking">
        <span class="icon-tracking"></span>
        <!--Tracking-->
    </button>

    <button type="button" (click)="onClickBoton('timeline')" class="btn btn-primary btn-circle w-100p mb-1 mr-1" [hidden]="disabledTimeLine">
        <span class="icon-timeline"></span>
        <!--TimeLine-->
    </button>
    &nbsp;
    <button type="button" (click)="onClickBoton('pendienteFe')" class="btn btn-primary btn-circle w-100p mb-1 mr-1" [hidden]="disabledPendienteFe">
        <span class="icon-pendienteFe"></span>
        <!--Pendiente FE-->
    </button>

    <button type="button" (click)="onClickBoton('reverso-ops')" class="btn btn-primary btn-circle w-100p mb-1 mr-1" [hidden]="disabledReversarOps">
        <span class="icon-reverso-ops"></span>
        <!--Reversar OPS-->
    </button>
    &nbsp;
    <button type="button" (click)="onClickBoton('copiar')" class="btn btn-primary btn-circle w-100p mb-1 mr-1" [hidden]="disabledCopiar">
        <span class="icon-copiar"></span>
        <!--copiar-->
    </button>

    <button type="button" (click)="onClickBoton('reverso3')" class="btn btn-primary btn-circle w-100p mb-1 mr-1" [hidden]="disabledReverso3">
        <span class="icon-reverso3"></span>
        <!--reverso3-->
    </button>

    <button type="button" (click)="onClickBoton('reverso2')" class="btn btn-primary btn-circle w-100p mb-1 mr-1" [hidden]="disabledReverso2">
        <span class="icon-reverso2"></span>
        <!--reverso2-->
    </button>

    <button type="button" (click)="onClickBoton('reverso1')" class="btn btn-primary btn-circle w-100p mb-1 mr-1" [hidden]="disabledReverso1">
        <span class="icon-reverso1"></span>
        <!--reverso1-->
    </button>

    <button type="button" (click)="onClickBoton('reprocesar')" class="btn btn-primary btn-circle w-100p mb-1 mr-1" [hidden]="disabledReprocesar">
        <span class="icon-reprocesar"></span>
        <!--reprocesar-->
    </button>
    &nbsp;
    <button type="button" (click)="onClickBoton('nuevo')" class="btn btn-primary btn-circle w-100p mb-1 mr-1" [hidden]="disabledNuevo">
        <span class="icon-nuevo"></span>
        <!--Nuevo-->
    </button>

    <button type="button" (click)="onClickBoton('grabar')" class="btn btn-primary btn-circle w-100p mb-1 mr-1" [hidden]="disabledGrabar">
        <span class="icon-grabar"></span>
        <!--Grabar-->
    </button>

    <button type="button" (click)="onClickBoton('cancelar')" class="btn btn-primary btn-circle w-100p mb-1 mr-1" [hidden]="disabledCancelar">
        <span class="icon-cancelar"></span>
        <!--Cancelar-->
    </button>

    <button type="button" (click)="onClickBoton('editar')" class="btn btn-primary btn-circle w-100p mb-1 mr-1" [hidden]="disabledEditar">
        <span class="icon-editar"></span>
        <!--Editar-->
    </button>

    <button type="button" (click)="onClickBoton('salir')"  class="btn btn-danger btn-circle w-100p mb-1 mr-1" >
        <span class="icon-salir"></span>
        <!--Cerrar-->
    </button>

    <button type="button" (click)="onClickBoton('ListarError')"  class="btn btn-danger btn-circle w-100p mb-1 mr-1" >
            <span class="icon-reprocesar"></span>
        <!--Error-->
    </button>


</div>