<div class="card"  >
  <small class="card-body">
      <small class="form-group" style="font-size: 10px;">
          <select  #Cia class="form-control" id="ListaCompanias" [ngModel]="AmbienteUbicacion.Compania"  (ngModelChange)="onCambioCompania(Cia.value)"  >
              <option *ngFor=" let cia of ListaCompanias" [value]="cia.NombreCorto">{{cia.NombreCorto}}</option>
          </select>
      </small>        

      <small class="form-group" style="font-size: 10px;">
          <select #Dpto  class="form-control" id="ListaDepartamentos" [ngModel]="AmbienteUbicacion.Departamento" (ngModelChange)="onCambioDepartamento(Dpto.value)"  >
              <option *ngFor=" let dpto of ListaDepartamentos" [value]="dpto.NombreDepartamento">{{dpto.NombreDepartamento}}</option>
              </select>
      </small>
  </small>
  <small class="card-footer">
    {{Titulo}}
  </small> 
  
</div>