
<div class="card" style="width: 30rem;">
    <img class="card-img-top" src="../../../assets/images/logo/DBRAG_IT.jpg" alt="Card image cap">
    <div class="card-body">
        <form class="form"  #frmLogin="ngForm" autocomplete="off">
            <div class="form-group">
                <label for="dominio">Dominio</label>
                <div class="text-left">
                    <input #dominio="ngModel"  class="form-control" type="text" name="Login.dominio" required minlength="5" [(ngModel)]="Login.dominio"/>
                    <small class="text-danger" *ngIf="dominio?.errors?.minlength">Longitud minima 5 caracteres</small>
                    <small class="text-danger" *ngIf="dominio?.errors?.required">El dominio es requerido</small>
               </div>
            </div>
            

            <div class="form-group">
                <label for="login">Login</label>
                <div class="text-left">
                    <input #login="ngModel"  class="form-control"  type="text" name="Login.login" required minlength="5" [(ngModel)]="Login.login"/>
                    <small class="text-danger" *ngIf="login?.errors?.minlength">Longitud minima 5 caracteres</small>
                    <small class="text-danger" *ngIf="login?.errors?.required">El login es requerido</small>
                </div>           
            </div>


            <div class="form-group">
                <label for="clave">Clave</label>
               
                <div class="text-left">
                    <input #clave="ngModel"  class="form-control" type="password" name="Login.clave" required minlength="5" [(ngModel)]="Login.clave"/>
                    <small class="text-danger" *ngIf="clave?.errors?.minlength">Longitud minima 5 caracteres</small>
                    <small class="text-danger" *ngIf="clave?.errors?.required">La clave es requerida</small>
                </div>  

            </div>

            <div class="form-group">
                <label for="uIP">IP</label>
                 <div class="text-left">
                    <input #uIP="ngModel"  class="form-control" type="text" name="Login.uIP" required minlength="5" [(ngModel)]="Login.uIP"/>
                    <small class="text-danger" *ngIf="uIP?.errors?.minlength">Longitud minima 5 caracteres</small>
                    <small class="text-danger" *ngIf="uIP?.errors?.required">La uIP es requerida</small>
                </div>  
            </div>

            <div class="form-group">
                <button class="btn btn-primary btn-block" (click)="Ingreso()" [disabled]="!frmLogin.valid" >Ingresar</button>
                <button class="btn btn-primary btn-block" (click)="Salida()" [disabled]="!Autentica.estaAutenticado" >Salir</button>
            </div>
        </form> 
        <div class="progress" *ngIf="progreso>0 && progreso<=100">
            <!-- <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" [style.width]="progreso + '%'" >{{Autentica.MensajeLogin.MensajeError}}</div> -->
            <div *ngIf="Autentica.mensaje" class="progress-bar" role="progressbar" [style.width]="progreso + '%'" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">{{Autentica.mensaje}}</div>
        </div>


    </div>
  </div>


