<!-- [hidden]="!estaActivo" -->

<div  class="tab-pane">
    <ng-content></ng-content>

    <botonera-principal [IdTab]="idTab" [TipoProceso]="tipoProceso" #botoneraPrincipal ></botonera-principal>

    <ng-container *ngIf="plantilla"
      [ngTemplateOutlet]="plantilla"
      [ngTemplateOutletContext]= " { idTab: datoContexto.idTab, estadoComponente: datoContexto.estadoComponente, proceso: proceso } " 
    >

    <div class="settings" [ngClass]="{'show': muestraError}">
        <button class="btn btn-default toggle" (click)="muestraError=!muestraError"><i class="fa fa-spin fa-gear"></i></button>
        <div class="card">
            <div class="card-header text-center">
                Errores
            </div>      
            <div class="card-body mb-2">
                <div class="form-group">                        
                    <div>
                        <label for=""></label>
                        <label *ngFor="let xErr of erroresGlobal" >{{xErr.ErrorText}}</label>
                    </div>
                
                </div>   
            </div>
        </div>
    </div>


    </ng-container>





  </div>
