.pane {
    padding: 1em;
  }

  /*settings*/
.settings {
  position: fixed;
  top: 80px;
  right: -512px;
  z-index: 995;
  width: 510px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  font-size: 12px
}
.settings.show {
  right: -1px;
}
.settings .btn {
  position: absolute;
  left: -34px;
  padding: 7px 12px 7px 10px;
  z-index: 99;
  background: #fff;
  border-color: rgba(0, 0, 0, 0.125);
  border-style: solid;
  border-width: 1px 0px 1px 1px;
  border-radius: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  cursor: pointer;
}
.settings .btn:focus {
  box-shadow: none;
}
.settings .card {
  border-top: none;
  border-radius: 0;
}
.settings .card .card-header {
  padding: 0.34rem 1.25rem;
  background: #fff !important;
  border-radius: 0;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: bold;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  border-bottom: 0;

}
.settings .card-body {
  padding: 2px 20px;
}
.settings .card-body h6 {
  border-bottom: 1px solid #eceeef;
  padding-bottom: 2px;
}


/* Label */
.custom-control-label::before {
  width: 14px;
  height: 14px;
  top: 0.3rem;
}
.custom-control-label::after {
  width: 14px;
  height: 14px;
  top: 0.3rem;
  background-size: 60% 60%;
}
.custom-checkbox.checkbox-circle .custom-control-label::before, .custom-checkbox.checkbox-circle .custom-control-label::after {
  border-radius: 50%;
}
