/*Diego Global*/

/* Icomoon stype settings */

@font-face {
    font-family: 'icomoon';
    src: url('icons/Icomoon-menu/icomoon.eot') format('embedded-opentype'), url('icons/Icomoon-menu/icomoon.ttf') format('truetype'), url('icons/Icomoon-menu/icomoon.woff') format('woff'), url('icons/Icomoon-menu/icomoon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-menu:before {
    content: "\e9bd";
  }
  
  .icon-home:before {
    content: "\e900";
  }
  
  .icon-images:before {
    content: "\e90e";
  }
  
  .icon-books:before {
    content: "\e920";
  }
  
  .icon-compass2:before {
    content: "\e94a";
  }
  
  .icon-rocket:before {
    content: "\e9a5";
  }
  
  .icon-link:before {
    content: "\e9cb";
  }
  
  .icon-circle-up:before {
    content: "\ea41";
  }
  
  .icon-circle-right:before {
    content: "\ea42";
  }
  
  .icon-circle-down:before {
    content: "\ea43";
  }
  
  .icon-circle-left:before {
    content: "\ea44";
  }
  
  .icon-search:before {
    content: "\e986";
  }
  
  .icon-cross:before {
    content: "\ea0f";
  }
  
  .icon-cancel-circle:before {
    content: "\ea0d";
  }
  
/* Fin Diego Global*/