
    <ul class="nav nav-tabs">
      <li class="nav-item"  *ngFor="let tab of dinamicoTabs" (click)="seleccionaTab(tab)" [class.active]="tab.estaActivo" >
        <a class="nav-link" href="#">
           {{tab.Titulo}}   <span class="tab-close"  (click)="cerrarTab(tab)">X</span>
        </a>
      </li>
    </ul>
    <ng-content></ng-content>
    <ng-template #contenedor></ng-template>


 