<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#lg-modal">

    Modal</button>
<div class="modal fade" id="lg-modal" tabindex="-1" role="dialog" aria-labelledby="modal-large-label" style="display: none;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header state modal-primary">
                <h4 class="modal-title" id="modal-large-label"> {{titulo}}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="row">
                        <div class="form-group row text-sm-right col-sm-6">
                            <label for="codigo" class="col-sm-3 form-control-label mt-1">codigo:</label>
                            <div class="col-sm-9">
                                <input #codigo class="form-control" type="text" name="codigo" required minlength="1" ngModel/>
                                <small class="text-danger" *ngIf="codigo?.errors?.required">El codigo es requerido</small>
                            </div>
                        </div>
                        <div class="form-group row text-sm-right col-sm-6">
                            <label for="nombre" class="col-sm-3 form-control-label mt-1">nombre:</label>
                            <div class="col-sm-9">
                                <input #nombre class="form-control" type="text" name="nombre" required minlength="3" ngModel/>
                                <small class="text-danger" *ngIf="nombre?.errors?.required">El nombre es requerido</small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group row text-sm-right col-sm-6">
                            <label for="registros" class="col-sm-3 form-control-label mt-1">registros:</label>
                            <div class="col-sm-9">
                                <input #registros class="form-control" type="text" name="codigo" required minlength="1" ngModel/>
                                <small class="text-danger" *ngIf="registros?.errors?.required">El numero de registros es requerido</small>
                            </div>
                        </div>
                    </div>


                </form>

                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>Codigo</th>
                            <th>Nombre</th>
                            <th>Activo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>21</td>
                            <td>William Salazar</td>
                            <td>Si</td>
                        </tr>
                        <tr>
                            <td>31</td>
                            <td>Javier Castillo</td>
                            <td>No</td>
                        </tr>
                        <tr>
                            <td>21</td>
                            <td>William Salazar</td>
                            <td>Si</td>
                        </tr>
                        <tr>
                            <td>31</td>
                            <td>Javier Castillo</td>
                            <td>No</td>
                        </tr>
                        <tr>
                            <td>31</td>
                            <td>Javier Castillo</td>
                            <td>No</td>
                        </tr>
                        <tr>
                            <td>21</td>
                            <td>William Salazar</td>
                            <td>Si</td>
                        </tr>
                        <tr>
                            <td>31</td>
                            <td>Javier Castillo</td>
                            <td>No</td>
                        </tr>
                        <tr>
                            <td>31</td>
                            <td>Javier Castillo</td>
                            <td>No</td>
                        </tr>
                        <tr>
                            <td>21</td>
                            <td>William Salazar</td>
                            <td>Si</td>
                        </tr>
                        <tr>
                            <td>31</td>
                            <td>Javier Castillo</td>
                            <td>No</td>
                        </tr>

                    </tbody>
                </table>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" (click)="buscar()">Buscar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="aceptar()">Aceptar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="cancelar()">Cancelar</button>
            </div>
        </div>
    </div>
</div>