.scroll {
  overflow-y: visible;
  overflow-x: hidden;
}

.root {
  float: left;
  background-color: #3aa6f0;
  list-style-type: none;
  border-right: 2px solid silver;
  box-shadow: -1px 5px 7px 0px black;
  position: absolute;
  height: 100%;
  max-width: 350px;
  padding: 0%;
  margin: 0%;
  direction: rtl;
  text-align: left;
  color: black;
  font-size: 14px !important;
  z-index: 100;
}

.root>li:last-child {
  border-bottom: 2px solid silver;
}

.disabled {
  pointer-events: none;
  opacity: 0.6;
}

.parenthold {
  padding: 0px;
  margin: 0px;
  border-top: 2px solid silver;
  min-width: 44px;
  min-height: 44px;
}

.inputhold {
  position: absolute;
  left: 12px;
  top: 10px;
  height: 22px;
}

.searchhold {
  display: flex;
  align-content: center;
  padding: 0px 12px 0px 12px;
}

#searchBox {
  position: relative;
  direction: ltr;
  width: 175px;
  margin: 0px;
  padding: 2px;
  border: 1px solid black;
  background-color: transparent;
  transition-duration: 0.2s;
}

#searchBox:focus {
  border-color: transparent;
  border-bottom: 2px outset black;
}

#resetBox {
  width: 25px;
  height: 22px;
  padding-left: 3px;
  margin: 0px;
  border: none;
  background-color: transparent;
}

.description {
  display: flex;
  min-height: 44px;
  align-content: center !important;
  position: relative;
  width: inherit;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.highlightableBox:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.labelName {
  display: flex;
  align-self: center;
  user-select: none;
  margin: 0px;
  padding-left: 12px;
  min-height: 20px;
}

.icoDiv {
  display: flex;
  padding: 13px;
  height: 44px;
  width: 44px;
}

.icoFill {
  align-self: stretch;
  flex: 1 1 auto;
}

/* Particular icon position */

/* Arrow icon animation */

.arrowIco {
  left: 12px;
  display: flex;
  align-self: center;
  transform-origin: center;
  transition: 0.2s linear;
}

.arrowIcoRotate {
  transform: rotate(90deg);
}

.childhold {
  transition: 0.4s ease-in-out;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  color: black;
}

.childholdColl {
  opacity: 1;
  max-height: 1000px;
}

/* Menu levels styling */

.twoC {
  background-color: #60b6f2;
}

.threeC {
  background-color: #8ecbf6;
}

.fourC {
  background-color: #badef9;
}

.highlightC {
  background-color: rgba(0, 0, 0, 0.3);
}

.twoH {
  margin-left: 10px;
}

.threeH {
  margin-left: 20px;
}

.fourH {
  margin-left: 30px;
}