<ul class="root scroll">
  <div class="parenthold" [ngClass]="{ 'highlightableBox': !menuFullDisplay }">
    <form class="inputhold" #f="ngForm" *ngIf="menuFullDisplay">
      <button type="reset" id="resetBox" class="icon-cross" alt="clear" (click)="onSubmit('')"></button>
      <input type="text" id="searchBox" name="search" placeholder="Search Options" (keyup)="onSubmit(f.value)" ngModel />
    </form>
    <div class="icoDiv" (click)="buttonToggleDisplay()" [ngClass]="{ 'icoFill': !menuFullDisplay }">
      <span class="icon-reverso1"></span>
    </div>
  </div>
  <li *ngFor="let item of menuParts; let i = index">
    <div class="parenthold" (click)="revealMain(i)" [ngClass]="{ 'highlightableBox': !menuFullDisplay, 'disabled': item.Disable }">
      <div class="description highlightableBox " [ngClass]="{ 'highlightC': item.IsShown && item.Hijos }">
        <div class="icoDiv arrowIco" [ngClass]="{ 'arrowIcoRotate': item.IsShown }" *ngIf="item.Hijos && menuFullDisplay">
          <span class="icon-circle-right"></span>
        </div>
        <p class="labelName mr-auto" *ngIf="menuFullDisplay">{{item.Nombre}}</p>
        <div class="icoDiv">
          <span class="{{item.Icon}}"></span>
        </div>
      </div>
    </div>
    <div class="childhold" [ngClass]="{childholdColl: item.IsShown }" *ngIf="menuFullDisplay && item.Hijos">
      <li *ngFor="let secItem of item.Hijos">
        <div class="parenthold twoC" (click)="chosenMenu(secItem)" [ngClass]="{'disabled': secItem.Disable}">
          <div class="description highlightableBox twoH" [ngClass]="{ 'highlightC': secItem.IsShown && secItem.Hijos }">
            <div class="icoDiv arrowIco" [ngClass]="{ 'arrowIcoRotate': secItem.IsShown }" *ngIf="secItem.Hijos">
              <span class="icon-circle-right"></span>
            </div>
            <p class="labelName mr-auto">{{secItem.Nombre}}</p>
          </div>
        </div>
        <div class="childhold" [ngClass]="{childholdColl: secItem.IsShown }" *ngIf="secItem.Hijos">
          <li *ngFor="let thItem of secItem.Hijos">
            <div class="parenthold threeC" (click)="chosenMenu(thItem)" [ngClass]="{'disabled': thItem.Disable}">
              <div class="description highlightableBox threeH" [ngClass]="{ 'highlightC': thItem.IsShown && thItem.Hijos }">
                <div class="icoDiv arrowIco" [ngClass]="{ 'arrowIcoRotate': thItem.IsShown }" *ngIf="thItem.Hijos">
                  <span class="icon-circle-right"></span>
                </div>
                <p class="labelName mr-auto">{{thItem.Nombre}}</p>
              </div>
            </div>
            <div class="childhold" [ngClass]="{childholdColl: thItem.IsShown }" *ngIf="thItem.Hijos">
              <li *ngFor="let fthItem of thItem.Hijos">
                <div class="parenthold fourC" (click)="chosenMenu(fthItem)" [ngClass]="{'disabled': fthItem.Disable}">
                  <div class="description highlightableBox fourH">
                    <div class="icoDiv arrowIco" [ngClass]="{ 'arrowIcoRotate': fthItem.IsShown }" *ngIf="fthItem.Hijos">
                      <span class="icon-circle-right"></span>
                    </div>
                    <p class="labelName mr-auto">{{fthItem.Nombre}}</p>
                  </div>
                </div>
              </li>
            </div>
          </li>
        </div>
      </li>
    </div>
  </li>
</ul>