@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?afipfb');
  src:  url('fonts/icomoon.eot?afipfb#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?afipfb') format('truetype'),
    url('fonts/icomoon.woff?afipfb') format('woff'),
    url('fonts/icomoon.svg?afipfb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-editar:before {
  content: "\e905";
}
.icon-nuevo:before {
  content: "\e924";
}
.icon-copiar:before {
  content: "\e92c";
}
.icon-timeline:before {
  content: "\e94e";
}
.icon-imprimir:before {
  content: "\e954";
}
.icon-especial07:before {
  content: "\e95e";
}
.icon-especial08:before {
  content: "\e95f";
}
.icon-especial09:before {
  content: "\e960";
}
.icon-especial10:before {
  content: "\e961";
}
.icon-grabar:before {
  content: "\e962";
}
.icon-reverso-ops:before {
  content: "\e989";
}
.icon-pendienteFe:before {
  content: "\e9b8";
}
.icon-tracking:before {
  content: "\e9bc";
}
.icon-reverso1:before {
  content: "\e9bd";
}
.icon-reverso2:before {
  content: "\e9bf";
}
.icon-reverso3:before {
  content: "\e9c0";
}
.icon-especial01:before {
  content: "\e9c5";
}
.icon-especial02:before {
  content: "\e9c6";
}
.icon-especial03:before {
  content: "\e9c7";
}
.icon-especial04:before {
  content: "\e9c8";
}
.icon-especial05:before {
  content: "\e9c9";
}
.icon-especial06:before {
  content: "\e9ca";
}
.icon-cancelar:before {
  content: "\ea0d";
}
.icon-salir:before {
  content: "\ea14";
}
.icon-reprocesar:before {
  content: "\ea59";
}
.icon-reporte:before {
  content: "\ea70";
}
