<div class="card card-info">
  <h4 class="card-header" >
      Transaccion Cabecera
  </h4>
  <div class="card-body">
      <p class="card-text">controles en estado {{ estadoComponente.estado }}</p>

      <form #frmTrsc="ngForm" novalidate>
        
        <div  class="form-group" [class.has-error]="Fecha.invalid && Fecha.touched">
            <label class="control-label">Fecha: </label>
            <input #Fecha="ngModel" required type="text" class="form-control" name="Fecha" value='20180323' placeholder="fecha" 
                    [(ngModel)]="transaccionCabecera.Fecha"
                    [readonly]="!FechaE" [required]="FechaO"
                    > 
                    
            <div *ngIf="Fecha.invalid && Fecha.touched" class="alert alert-danger">
                La fecha es obligatoria
            </div>
        </div>

        <div > 
            <label>Descripción: </label>
            <textarea #Descripcion="ngModel" required class="form-control" 
                   name="Descripcion" placeholder="descripción"
                                     
                   [(ngModel)]="transaccionCabecera.Descripcion"
                   [readonly]="!DescripcionE" [required]="DescripcionO" 
                   ></textarea>
            <div *ngIf="Descripcion.invalid && Descripcion.touched" class="alert alert-danger">
              La descripción es obligatoria
            </div>
        </div>

      </form>


  </div>
  <div class="card-footer">

  </div>
</div>


