.bodySpecs * {
    display: flex;
    box-sizing: border-box;
    user-select: none;
}

/* general body specifications */

.bodySpecs {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    min-height: 50px;
    background: #2a4b5a;
    border-color: #223d49;
    color: #abcad8;
    border-bottom: 1px solid #223d49;
    margin-bottom: 2px;
    box-sizing: content-box;
    z-index: 150;
}

/* highlight color */

.nav-forms:hover, .nav-main:hover, .root-menu li:hover, .active-tab {
    color: #ffffff;
    background-color: #223d49;
}

/* Dropdown styling */

[class*="dropdown-style"] {
    /* general dropdown style */
    background: #3b5c6b;
    color: #e7eef1;
    border-top: 1px solid #223d49;
    box-shadow: 0px 8px 21px -5px #324e5b;
    /* display */
    position: absolute;
    top: 100%;
    bottom: auto;
    display: none !important;
}

[class*="style-fixed"] {
    padding: 15px 0px 15px 15px;
}

[class*="style-wide"] {
    left: 0%;
    right: 0%;
    padding: 0%;
}

/* general use classes */

.navbar {
    min-height: 50px;
    width: 1300px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid inherit;
    padding: 0px 0px 0px 0px;
    background-color: inherit;
}

.nav-head {
    position: relative;
    top: 0%;
    bottom: 0%;
    margin-right: 0;
    margin-left: 0;
    float: left;
}

.nav-home {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    box-sizing: border-box;
}

.nav-contents {
    box-shadow: -5px 0px 4px -4px rgb(10, 10, 10);
    float: right;
    height: auto;
    flex-grow: 1;
    background-color: inherit;
}

.nav-contents>div+div {
    border-left: 1px solid;
}

.nav-contents>* {
    border-color: #32596b !important;
}

.nav-home, .nav-contents, .nav-main, .nav-form-states, .nav-option, .parenthold, .childhold li, .overflow-item {
    align-self: stretch;
    /* flex fill */
    flex: 1 1 auto;
}

.nav-option {
    position: relative;
    padding: 15px;
    margin: 0%;
    align-items: center !important;
    justify-content: inherit;
}

.nav-label p {
    padding-left: 6px;
    margin: 0%;
}

.nav-label>* {
    align-self: center;
}

.nav-label {
    direction: ltr;
}

/* Forms */

.nav-forms {
    justify-content: start;
}

.nav-forms-reflect {
    padding-right: 15px;
    align-items: center;
    justify-content: start;
}

.form-panel {
    flex-direction: column;
    border-radius: 5px;
    /* form bubble color */
    border: 1px solid #4a85a0;
    box-shadow: inset 0 0 10px #4a85a0;
    padding: 8px 8px 0px 8px;
    margin-right: 15px;
    background-color: inherit;
    color: inherit;
}

select {
    margin-bottom: 8px;
}

/* select forms styling */

[class*="dropdown-style"] .form-control {
    color: #e7eef1;
    background-color: #4c6d7c;
    border-color: #6393a9;
}

[class*="dropdown-style"] .form-control:focus {
    box-shadow: inset 0 1px 1px transparent, 0 0 5px #6393a9;
}

.state-box {
    padding: 10px 0px 10px 15px;
    flex-direction: column;
}

.showPanel {
    display: flex !important;
    -webkit-animation: HingeUpToDown 500ms 1;
    animation: HingeUpToDown 500ms 1;
}

.state-box p {
    margin: 0%;
}

/* /* Level Menu */

/* Level Menu Elements */

.nav-main {
    justify-content: center;
}

.root-menu {
    position: absolute;
    list-style: none;
    padding: 2px !important;
    color: inherit;
    justify-content: center;
}

.parenthold {
    position: relative;
    justify-content: center;
    overflow: hidden;
    padding: 10px;
}

.childhold {
    flex-direction: column;
}

.child-menu {
    padding: 0px 2px 2px 2px;
    flex-flow: wrap;
    justify-content: end;
}

/* Boxes Per Row (Adjust here and in .ts) */

.root-menu li {
    min-height: 41px;
}

.root-menu>li, .root-menu>li>.overflow-menu .overflow-wrapper {
    /* For 6 boxes per row*/
    width: 215.7px;
    /* For 8 boxes per row */
    /* width: 161px; */
}

.child-menu>li, .child-menu>li>.overflow-menu .overflow-wrapper {
    /* For 6 boxes per row*/
    /* width: 215.7px;   */
    /* For 8 boxes per row */
    width: 161px !important;
}

/* Main Menu Border Styling */

.root-menu>li+li, .child-menu>li+li {
    border-left: 1px solid;
}

[class*="separator"] {
    border: 5px solid;
    width: 100%;
}

[class*="-thin"] {
    border-width: 1px;
    margin-top: 2px;
}

.parenthold, .child-menu, .child-menu>li, [class*="separator"], .overflow-menu, .overflow-wrapper, .overflow-item, .login-info, .login-label, .logout {
    /* Propagate selected color down */
    border-color: inherit !important;
}

.root-menu>li {
    border-color: #4c6d7c !important;
}

.border-hidden {
    border-color: transparent !important;
}

.border-level-0 {
    border-color: #3b5c6b !important;
}

.border-level-1 {
    border-color: rgb(6, 183, 217) !important;
}

.border-level-2 {
    border-color: rgb(98, 185, 39) !important;
}

.border-level-3 {
    border-color: rgb(233, 233, 34) !important;
}

/* Overflow Menu */

.overflowing {
    border: none !important;
    max-width: 0px;
    max-height: 0px;
}

li:hover>.overflow-menu {
    display: flex !important;
}

.overflow-menu {
    box-sizing: content-box !important;
    top: calc(100% - 2px) !important;
    padding: 0px 1px 0px 1px;
    right: 0px;
    overflow-y: auto;
    border-top: 2px solid;
    flex-direction: column;
    direction: rtl;
    text-align: left;
}

.scroll-padding {
    max-height: 165px;
    padding-left: 17px;
}

.overflow-wrapper {
    direction: ltr;
    justify-content: center;
}

.overflow-wrapper+.overflow-wrapper {
    border-top: 1px solid;
}

.overflow-item {
    position: relative;
    justify-content: center;
    margin: 0px 1px 0px 1px;
    padding: 10px;
}

/* Login */

.nav-login {
    position: relative;
    justify-content: end;
    align-items: center;
    top: 0%;
    bottom: 0%;
}

.login-info p {
    margin: 0%;
}

.login-label {
    align-content: center;
}

.login-descriptions {
    flex-direction: column;
    padding: 0px 5px 0px 15px;
}

.login-separator {
    width: 0%;
    border-left-width: 3px;
    border-color: transparent transparent transparent currentColor !important;
}

.login-credentials {
    flex-direction: column;
    font-style: oblique;
    color: #79c879;
    padding: 0px 15px 0px 5px;
}

.logout {
    border: 2px solid;
    border-radius: 7px;
    padding: 5px 5px 5px 6px;
    font-size: 16px;
    justify-content: center;
    align-content: center;
}

/* red button hover */

.logout:hover {
    border-color: #cf2e2e !important;
    border-style: outset;
    background-color: #cf2e2e;
}