@keyframes HingeUpToDown {
	0% {
		-webkit-transform-origin: 50% 0;
		-ms-transform-origin: 50% 0;
		transform-origin: 50% 0;
		-webkit-transform: perspective(3000px) rotateX(-90deg);
		-ms-transform: perspective(3000px) rotateX(-90deg);
		transform: perspective(3000px) rotateX(-90deg);
		-webkit-transition-timing-function: ease-in;
		transition-timing-function: ease-in
	}
	40% {
		-webkit-transform: perspective(3000px) rotateX(20deg);
		-ms-transform: perspective(3000px) rotateX(20deg);
		transform: perspective(3000px) rotateX(20deg);
		-webkit-transition-timing-function: ease-in;
		transition-timing-function: ease-in
	}
	60% {
		-webkit-transform: perspective(3000px) rotateX(-10deg);
		-ms-transform: perspective(3000px) rotateX(-10deg);
		transform: perspective(3000px) rotateX(-10deg)
	}
	80% {
		-webkit-transform: perspective(3000px) rotateX(5deg);
		-ms-transform: perspective(3000px) rotateX(5deg);
		transform: perspective(3000px) rotateX(5deg)
	}
	100% {
		-webkit-transform-origin: 50% 0;
		-ms-transform-origin: 50% 0;
		transform-origin: 50% 0;
		-webkit-transform: perspective(3000px);
		-ms-transform: perspective(3000px);
		transform: perspective(3000px)
	}
}

.root-menu .parenthold::before {
    content: "";
    position: absolute;
    left: calc(50% - 10px);
    top: -10px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 10px;
    border-color: transparent;
    border-top-color: inherit !important;
    animation: CaratTranslateOut 100ms 1;
}

.root-menu .active-tab.parenthold::before {
    animation: CaratTranslateIn 300ms 1 forwards;
}

@keyframes CaratTranslateIn {
	0% {
		transform: translateY(0px);
	}
	100% {
		transform: translateY(10px);
	}
}

@keyframes CaratTranslateOut {
	0% {
		transform: translateY(10px);
	}
	100% {
		transform: translateY(0px);
	}
}