<div class="bodySpecs sticky-top">
    <nav class="navbar">
        <div class="nav-head">
            <div class="nav-home align-self-center">
                <div class="nav-label">
                    <span class="icon-home"></span>
                    <p class="hidden-sm hidden-md">DB-Web</p>
                </div>
            </div>
        </div>
        <div class="nav-contents justify-content-between">
            <div class="nav-forms" [ngClass]="{ 'active-tab': displayPanel == 0 }" *ngIf="CompanyList">
                <div class="nav-forms-reflect" (click)="panelToggle(0)">
                    <div class="state-box" *ngIf="CompanyList && DepartmentList">
                        <div class="nav-label">
                            <span class="icon-office"></span>
                            <p>Area</p>
                        </div>
                        <p>{{mainForm.value.company}} - {{mainForm.value.department}}</p>
                    </div>
                    <div class="state-box" *ngIf="accountingIntervals">
                        <div class="nav-label">
                            <span class="icon-calendar"></span>
                            <p>Contable</p>
                        </div>
                        <p>{{mainForm.value.accYear}} - {{mainForm.value.accPeriod}}</p>
                    </div>
                    <div class="state-box" *ngIf="payrollIntervals">
                        <div class="nav-label">
                            <span class="icon-coin-dollar"></span>
                            <p>Nomina</p>
                        </div>
                        <p>{{mainForm.value.payYear}} - {{mainForm.value.payPeriod}}</p>
                    </div>
                </div>
                <form class="dropdown-style-fixed" [formGroup]="mainForm" [ngClass]="{ showPanel: displayPanel == 0 }" *ngIf="savedIds">
                    <div class="form-panel" *ngIf="CompanyList && DepartmentList">
                        <select class="form-control form-control-sm" (change)="onSubmit(mainForm.value.company)" [formControl]="mainForm.controls['company']">
                            <option value="{{option}}" *ngFor="let option of selCompanies">{{option}}</option>
                        </select>
                        <select class="form-control form-control-sm" (change)="onSubmit(mainForm.value.department)" [formControl]="mainForm.controls['department']">
                            <option value="{{option}}" *ngFor="let option of selDepartments">{{option}}</option>
                        </select>
                    </div>
                    <div class="form-panel" *ngIf="accountingIntervals">
                        <select class="form-control form-control-sm" (change)="selAccountingP = choosePeriod(mainForm.value.accYear, accountingIntervals, mainForm.get('accPeriod')); submitIdInterval(mainForm.value.accYear, mainForm.value.accPeriod, accountingIntervals)"
                            [formControl]="mainForm.controls['accYear']">
                            <option value="{{option}}" *ngFor="let option of selAccountingY">{{option}}</option>
                        </select>
                        <select class="form-control form-control-sm" (change)="submitIdInterval(mainForm.value.accYear, mainForm.value.accPeriod, accountingIntervals)"
                            [formControl]="mainForm.controls['accPeriod']">
                            <option value="{{option}}" *ngFor="let option of selAccountingP">{{option}}</option>
                        </select>
                    </div>
                    <div class="form-panel" *ngIf="payrollIntervals">
                        <select class="form-control form-control-sm" (change)="selPayrollP = choosePeriod(mainForm.value.payYear, payrollIntervals, mainForm.get('payPeriod')); submitIdInterval(mainForm.value.payYear, mainForm.value.payPeriod, payrollIntervals)"
                            [formControl]="mainForm.controls['payYear']">
                            <option value="{{option}}" *ngFor="let option of selPayrollY">{{option}}</option>
                        </select>
                        <select class="form-control form-control-sm" (change)="submitIdInterval(mainForm.value.payYear, mainForm.value.payPeriod, payrollIntervals)"
                            [formControl]="mainForm.controls['payPeriod']">
                            <option value="{{option}}" *ngFor="let option of selPayrollP">{{option}}</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="nav-main" [ngClass]="{ 'active-tab': displayPanel == 1 }">
                <div class="nav-option" (click)="panelToggle(1)">
                    <div class="nav-label">
                        <span class="icon-books"></span>
                        <p class="hidden-sm hidden-md">Options</p>
                    </div>
                </div>
                <ul class="root-menu dropdown-style-wide" [ngClass]="{ showPanel: displayPanel == 1 }" *ngIf="menuParts">
                    <ng-container *ngFor="let item of menuParts; let i = index">
                        <li [ngClass]="{ 'overflowing': isMainFull(i, menuParts) }">
                            <div class="parenthold border-level-0" (click)="revealMenu(0, i, menuParts)" [ngClass]="{ 'active-tab': item.IsShown }" *ngIf="!isMainFull(i, menuParts)">
                                <div class="nav-label">
                                    <span class="{{item.Icon}}"></span>
                                    <p>{{item.Nombre}}</p>
                                </div>
                            </div>
                            <div class="childhold dropdown-style-wide border-level-1" [ngClass]="{ showPanel: item.IsShown }" *ngIf="item.Hijos.length > 0">
                                <div class="separator"></div>
                                <ul class="child-menu">
                                    <ng-container *ngFor="let secondItem of item.Hijos; let j = index">
                                        <div class="separator-thin" *ngIf="setPartition(j, item)"></div>
                                        <li [ngClass]="{ 'border-hidden': setPartition(j, item), 'overflowing': isChildFull(j, item) }">
                                            <div class="parenthold" (click)="revealMenu(1, j, item.Hijos)" [ngClass]="{ 'active-tab': secondItem.IsShown}" *ngIf="!isChildFull(j, item)">
                                                <div class="nav-label">
                                                    <span class="{{secondItem.Icon}}"></span>
                                                    <p>{{secondItem.Nombre}}</p>
                                                </div>
                                            </div>
                                            <div class="childhold dropdown-style-wide border-level-2" [ngClass]="{ showPanel: secondItem.IsShown }" *ngIf="secondItem.Hijos.length > 0">
                                                <div class="separator"></div>
                                                <ul class="child-menu">
                                                    <ng-container *ngFor="let thirdItem of secondItem.Hijos; let k = index">
                                                        <div class="separator-thin" *ngIf="setPartition(k, secondItem)"></div>
                                                        <li [ngClass]="{ 'border-hidden': setPartition(k, secondItem), 'overflowing': isChildFull(k, secondItem) }">
                                                            <div class="parenthold" (click)="revealMenu(2, k, secondItem.Hijos)" [ngClass]="{ 'active-tab': thirdItem.IsShown}" *ngIf="!isChildFull(k, secondItem)">
                                                                <div class="nav-label">
                                                                    <span class="{{thirdItem.Icon}}"></span>
                                                                    <p>{{thirdItem.Nombre}}</p>
                                                                </div>
                                                            </div>
                                                            <div class="childhold dropdown-style-wide border-level-3" [ngClass]="{ showPanel: thirdItem.IsShown }" *ngIf="thirdItem.Hijos.length > 0">
                                                                <div class="separator"></div>
                                                                <ul class="child-menu">
                                                                    <ng-container *ngFor="let fourthItem of thirdItem.Hijos; let l = index">
                                                                        <div class="separator-thin" *ngIf="setPartition(l, thirdItem)"></div>
                                                                        <li [ngClass]="{ 'border-hidden': setPartition(l, thirdItem), 'overflowing': isChildFull(l, thirdItem) }">
                                                                            <div class="parenthold" (click)="revealMenu(3, l, thirdItem.Hijos)" *ngIf="!isChildFull(l, thirdItem)">
                                                                                <div class="nav-label">
                                                                                    <span class="{{fourthItem.Icon}}"></span>
                                                                                    <p>{{fourthItem.Nombre}}</p>
                                                                                </div>
                                                                            </div>

                                                                        </li>
                                                                    </ng-container>
                                                                    <li *ngIf="isChildFull(null, thirdItem)">
                                                                        <div class="parenthold" [ngClass]="{ 'active-tab': activeInstances[3] >= CHILDNUM*2-1 }">
                                                                            <div class="nav-label" *ngIf="activeInstances[3] >= CHILDNUM*2-1 else defaultLevel">
                                                                                <span class="{{thirdItem.Hijos[activeInstances[3]].Icon}}"></span>
                                                                                <p>{{thirdItem.Hijos[activeInstances[3]].Nombre}}</p>
                                                                            </div>
                                                                        </div>
                                                                        <div class="overflow-menu dropdown-style" [ngClass]="{'scroll-padding': thirdItem.Hijos.slice(CHILDNUM*2-1).length > 4 }">
                                                                            <ng-container *ngFor="let fourthItemEx of thirdItem.Hijos.slice(CHILDNUM*2-1); let lx = index">
                                                                                <div class="overflow-wrapper">
                                                                                    <li class="overflow-item" (click)="revealMenu(3, lx + CHILDNUM*2-1, thirdItem.Hijos)">
                                                                                        <div class="nav-label">
                                                                                            <span class="{{fourthItemEx.Icon}}"></span>
                                                                                            <p>{{fourthItemEx.Nombre}}</p>
                                                                                        </div>
                                                                                    </li>
                                                                                </div>
                                                                            </ng-container>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </li>
                                                    </ng-container>
                                                    <li *ngIf="isChildFull(null, secondItem)">
                                                        <div class="parenthold" [ngClass]="{ 'active-tab': activeInstances[2] >= CHILDNUM*2-1 }">
                                                            <div class="nav-label" *ngIf="activeInstances[2] >= CHILDNUM*2-1 else defaultLevel">
                                                                <span class="{{secondItem.Hijos[activeInstances[2]].Icon}}"></span>
                                                                <p>{{secondItem.Hijos[activeInstances[2]].Nombre}}</p>
                                                            </div>
                                                        </div>
                                                        <div class="overflow-menu dropdown-style" [ngClass]="{'scroll-padding': secondItem.Hijos.slice(CHILDNUM*2-1).length > 4 }">
                                                            <ng-container *ngFor="let thirdItemEx of secondItem.Hijos.slice(CHILDNUM*2-1); let kx = index">
                                                                <div class="overflow-wrapper">
                                                                    <li class="overflow-item" (click)="revealMenu(2, kx + CHILDNUM*2-1, secondItem.Hijos)">
                                                                        <div class="nav-label">
                                                                            <span class="{{thirdItemEx.Icon}}"></span>
                                                                            <p>{{thirdItemEx.Nombre}}</p>
                                                                        </div>
                                                                    </li>
                                                                </div>
                                                            </ng-container>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ng-container>
                                    <li *ngIf="isChildFull(null, item)">
                                        <div class="parenthold" [ngClass]="{ 'active-tab': activeInstances[1] >= CHILDNUM*2-1 }">
                                            <div class="nav-label" *ngIf="activeInstances[1] >= CHILDNUM*2-1 else defaultLevel">
                                                <span class="{{item.Hijos[activeInstances[1]].Icon}}"></span>
                                                <p>{{item.Hijos[activeInstances[1]].Nombre}}</p>
                                            </div>
                                        </div>
                                        <div class="overflow-menu dropdown-style" [ngClass]="{'scroll-padding': item.Hijos.slice(CHILDNUM*2-1).length > 4 }">
                                            <ng-container *ngFor="let secondItemEx of item.Hijos.slice(CHILDNUM*2-1); let jx = index">
                                                <div class="overflow-wrapper">
                                                    <li class="overflow-item" (click)="revealMenu(1, jx + CHILDNUM*2-1, item.Hijos)">
                                                        <div class="nav-label">
                                                            <span class="{{secondItemEx.Icon}}"></span>
                                                            <p>{{secondItemEx.Nombre}}</p>
                                                        </div>
                                                    </li>
                                                </div>
                                            </ng-container>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ng-container>
                    <li *ngIf="isMainFull(null, menuParts)">
                        <div class="parenthold border-level-0" [ngClass]="{ 'active-tab': activeInstances[0] >= MAINNUM-1 }">
                            <div class="nav-label" *ngIf="activeInstances[0] >= MAINNUM-1 else defaultLevel">
                                <span class="{{menuParts[activeInstances[0]].Icon}}"></span>
                                <p>{{menuParts[activeInstances[0]].Nombre}}</p>
                            </div>
                        </div>
                        <div class="overflow-menu dropdown-style" [ngClass]="{'scroll-padding': menuParts.slice(MAINNUM-1).length > 4 }">
                            <ng-container *ngFor="let itemEx of menuParts.slice(MAINNUM-1); let ix = index">
                                <div class="overflow-wrapper">
                                    <li class="overflow-item" (click)="revealMenu(0, ix + MAINNUM-1, menuParts)">
                                        <div class="nav-label">
                                            <span class="{{itemEx.Icon}}"></span>
                                            <p>{{itemEx.Nombre}}</p>
                                        </div>
                                    </li>
                                </div>
                            </ng-container>
                        </div>
                    </li>
                    <ng-template #defaultLevel>
                        <div class="nav-label">
                            <p>More Options!</p>
                        </div>
                    </ng-template>
                </ul>
            </div>
            <div class="nav-login">
                <div class="login-info">
                    <div class="login-descriptions">
                        <div class="nav-label">
                            <span class="icon-cogs"></span>
                            <p>User</p>
                        </div>
                        <div class="nav-label">
                            <span class="icon-key"></span>
                            <p>Role</p>
                        </div>
                    </div>
                    <div class="login-separator"></div>
                    <div class="login-credentials" *ngIf="savedIds else defaultUser">
                        <p class="ml-auto">{{savedIds.user}}</p>
                        <p class="ml-auto">{{savedIds.role}}</p>
                    </div>
                    <ng-template #defaultUser>
                        <div class="login-credentials">
                            <p class="ml-auto">User Not Recieved</p>
                            <p class="ml-auto">Role Not Recieved</p>
                        </div>
                    </ng-template>
                </div>
                <div class="logout" (click)="signOutUser()">
                    <span class="icon-cross"></span>
                </div>
            </div>
        </div>
    </nav>
</div>